body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .login {
      background-color: #525252;
    }
    input[type="submit"] {
        color: #525252;
    }
    input[type="text"] {
        background-color: #525252;
        color: #f2f2f2;
    }
  }
  
@media (prefers-color-scheme: light) {
    .login {
        background-color: #f2f2f2;
    }
    input[type="submit"] {
        color: #f2f2f2;
    }
    input[type="text"] {
        background-color: #f2f2f2;
        color: #525252;
    }
}
  
.login {
    width: 35vw;
    height: 20vw;
    padding: 1vh 4vh;
    border-radius: 2vh;
    text-align: left;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
label {
    font-weight: bold;
}
  
input[type="text"] {
    padding: 1vh;
    width: 80%;
    font-size: large;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    margin-top: 1vh;
}
  
input[type="submit"] {
    font-size: x-large;
    margin-top: 2.5vh;
    padding: 1.5vh 7vh;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #3e8e41;
}

h1 {
    font-family: 'Cavolini Bold';
    font-size: 3.5vw;
    margin-top: 4vh;
}

@font-face {
    font-family: 'Cavolini Bold';
    src: url('./../fonts/Cavolini_bold.TTF');
    font-weight: normal;
    font-style: normal;
}