@media (prefers-color-scheme: dark) {
    .room {
      background-color: #525252;
    }
    .room-confirm {
        color: #525252;
    }
    .room-input {
        background-color: #525252;
        color: #f2f2f2;
    }
  }
  
@media (prefers-color-scheme: light) {
    .room {
        background-color: #f2f2f2;
    }
    .room-confirm {
        color: #f2f2f2;
    }
    .room-input {
        background-color: #f2f2f2;
        color: #525252;
    }
}
  
.room {
    justify-content: center;
    width: 35vw;
    height: 20vw;
    padding: 1vh 4vh;
    border-radius: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.room-input {
    padding: 1vh;
    width: 80%;
    font-size: large;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    margin-top: 1vh;
}
  
.room-confirm {
    font-size: x-large;
    margin-top: 2.5vh;
    padding: 1.5vh 7vh;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}
  
.room-confirm:hover {
    background-color: #3e8e41;
}

.room h1 {
    font-family: 'Cavolini Bold';
    font-size: 2.5vw;
    margin-top: 4vh;
}

@font-face {
    font-family: 'Cavolini Bold';
    src: url('./../fonts/Cavolini_bold.TTF');
    font-weight: normal;
    font-style: normal;
}