@media (prefers-color-scheme: dark) {
    .login {
      background-color: #525252;
    }
    .login .confirm {
        color: #525252;
    }
    .login input {
        background-color: #525252;
        color: #f2f2f2;
    }
}
  
@media (prefers-color-scheme: light) {
    .login {
        background-color: #f2f2f2;
    }
    .login .confirm {
        color: #f2f2f2;
    }
    .login input {
        background-color: #f2f2f2;
        color: #525252;
    }
}

.login {
    padding-right: 4vw;
    padding-left: 4vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    width: fit-content;
    height: fit-content;
    border-radius: 2vh; 
}

.other-login p {
    margin-top: 3vh;
    margin-bottom: 0vh;
    font-family: 'Cavolini';
    font-size: 3vh;
}

.standard-login {
    display: grid;
    justify-items: center;
    align-items: center;
}

.standard-login div{
    display: grid;
    justify-items: center;
    align-items: center;
}

.standard-login h1 {
    font-family: 'Cavolini Bold';
    font-size: 6vh;
    margin-bottom: 0.25vh;
    margin-top: 0.5vh;
}

.login input {
    padding: 1vh;
    width: 45vh;
    font-size: large;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    margin-top: 1vh;
}
  
.login .confirm {
    transition: box-shadow .3s;
    width: 30vh;
    height: 5vh;
    font-size: 3vh;
    margin-top: 2vh;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}

.login .confirm:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color: #3e8e41;
}

@font-face {
    font-family: 'Cavolini';
    src: url('./../fonts/Cavolini.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cavolini Bold';
    src: url('./../fonts/Cavolini_bold.TTF');
    font-weight: normal;
    font-style: normal;
}

.other-login button {
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    transition: box-shadow .3s;
    background: none;
    width: 7vh;
    height: 7vh;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
}

.other-login button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.google-login {
    margin-right: 2.5vh;
}

.twitter-login {
    margin-right: 2.5vh;
}

.github-login {
    margin-right: 2.5vh;
}

.discord-login {
    margin-right: 2.5vh;
}

.other-login button img {
    width: 5vh;
    height: 5vh;
}

.error {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    background-color: #da0000;
    padding-right: 7vw;
    padding-left: 7vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    border-radius: 2vh;
    align-items: center;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}

.error h2 {
    font-family: 'Cavolini Bold';
    font-size: 3.5vh;
    margin-bottom: 0vh;
    margin-top: 0.5vh;
}

.error p {
    margin-top: 1vh;
    margin-bottom: 0.25vh;
    font-family: 'Cavolini';
    font-size: 2vh;
}

.error ul {
    display: inline-block;
    text-align: left;
}

.error ul li {
    margin-top: 1vh;
    margin-bottom: 0.25vh;
    font-family: 'Cavolini';
    font-size: 2vh;
}

.logged {
    display: grid;
    column-gap: 0vh;
    row-gap: 5vh;
    text-align: center;
    place-items: center;
}

.alert {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    background-color: #00b9de;
    padding-right: 7vw;
    padding-left: 7vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    border-radius: 2vh;
    align-items: center;
}

.alert h2 {
    font-family: 'Cavolini Bold';
    font-size: 3.5vh;
    margin-bottom: 0vh;
    margin-top: 0.5vh;
}

.alert p {
    margin-top: 1vh;
    margin-bottom: 0.25vh;
    font-family: 'Cavolini';
    font-size: 2vh;
}

.reset {
    transition: box-shadow .3s;
    background: none;
    width: fit-content;
    height: fit-content;
    border: none;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 3vh;
    cursor: pointer;
    color: black;
}

.reset:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #3e8e41;
}

.reset p {
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-family: 'Cavolini';
    font-size: 2.5vh;
}