body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .login {
      background-color: #525252;
    }
    .login .confirm {
        color: #525252;
    }
    .login input {
        background-color: #525252;
        color: #f2f2f2;
    }
}
  
@media (prefers-color-scheme: light) {
    .login {
        background-color: #f2f2f2;
    }
    .login .confirm {
        color: #f2f2f2;
    }
    .login input {
        background-color: #f2f2f2;
        color: #525252;
    }
}

.login {
    padding-right: 4vw;
    padding-left: 4vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    border-radius: 2vh;
    text-align: center;
    align-items: center;
}

.other-login p {
    margin-top: 3vh;
    margin-bottom: 0vh;
    font-family: 'Cavolini';
    font-size: 3vh;
}

.standard-login {
    display: grid;
    justify-items: center;
    align-items: center;
}

.standard-login h1 {
    font-family: 'Cavolini Bold';
    font-size: 6vh;
    margin-bottom: 0.25vh;
    margin-top: 0.5vh;
}

.login input {
    padding: 1vh;
    width: 45vh;
    font-size: large;
    border: 0.5vh solid #ccc;
    border-radius: 1vh;
    margin-top: 1vh;
}
  
.login .confirm {
    width: 30vh;
    height: 5vh;
    font-size: 3vh;
    margin-top: 2vh;
    background-color: #4CAF50;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}

.login .confirm:hover {
    background-color: #3e8e41;
}

@font-face {
    font-family: 'Cavolini';
    src: url('./../fonts/Cavolini.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cavolini Bold';
    src: url('./../fonts/Cavolini_bold.TTF');
    font-weight: normal;
    font-style: normal;
}

.other-login button {
    background: none;
    width: 10vh;
    height: 10vh;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
}

.google-login {
    margin-right: 1vh;
}

.twitter-login {
    margin-right: 1vh;
}

.github-login {
    margin-right: 1vh;
}

.discord-login {
    margin-right: 1vh;
}

.other-login button img {
    width: 5vh;
    height: 5vh;
}

.password-error {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    background-color: #da0000;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 40vw;
    height: fit-content;
    justify-content: center;
    border-radius: 2vh;
    text-align: center;
    align-items: center;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}

.password-error h2 {
    font-family: 'Cavolini Bold';
    font-size: 3.5vh;
    margin-bottom: 0vh;
    margin-top: 0.5vh;
}

.password-error p {
    margin-top: 1vh;
    margin-bottom: 0.25vh;
    font-family: 'Cavolini';
    font-size: 2vh;
}

.logged {
    display: grid;
    column-gap: 0vh;
    row-gap: 5vh;
    justify-content: baseline;
    text-align: center;
    align-items: center;
}